input[type=range] {
    -webkit-appearance: none; /* Скрывает слайдер, чтобы можно было создать свой */
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  input[type=range]:focus {
    outline: none; /* Убирает голубую границу у элемента. Хотя, возможно, и стоит создавать некоторое оформления для состояния фокуса в целях обеспечения доступности. */
  }
  
  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent; /* Скрывает слайдер, чтобы можно было добавить собственные стили. */
    border-color: transparent;
    color: transparent;
  }

  /* Специальные правила для браузеров на движках WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 8px;
    border-radius: 5px;
    background: #ff6913;
    cursor: pointer;
    margin-top: -5px; /* Вам нужно указать значение для поля в Chrome, но в Firefox и IE это происходит автоматически */
  }
  
  /* Тоже самое для Firefox */
  input[type=range]::-moz-range-thumb {
    height: 15px;
    width: 8px;
    border-radius: 5px;
    background: #ff6913;
    cursor: pointer;
    margin-top: -5px;
  }
  
  /* Тоже самое для IE  */
  input[type=range]::-ms-thumb {
    height: 15px;
    width: 8px;
    border-radius: 5px;
    background: #ff6913;
    cursor: pointer;
    margin-top: -5px;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.3em;
    cursor: pointer;
    background: white;
  }
  
  input[type=range]:focus::-webkit-slider-runnable-track {
    background:  white;
  }
  
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 0.3em;
    cursor: pointer;
    background:  white;
  }
  
  input[type=range]::-ms-track {
    width: 100%;
    height: 0.3em;
    cursor: pointer;
    background: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background:  #ffffff;
  }
  input[type=range]:focus::-ms-fill-lower {
    background:  white;
  }
  input[type=range]::-ms-fill-upper {
    background:  white;
  }
  input[type=range]:focus::-ms-fill-upper {
    background:  white;
  }