body{
    background: rgba(247, 108, 108, 0.85);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player {
    background:linear-gradient(to top, rgba(255, 200, 18, 0.85) 0%, rgba(247, 108, 108, 0.85) 100%);
    padding: 10px 10px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 60%;
}

.viewer {
    height: 100%;
    width: 100%;
}

.player-controls {
    width: -webkit-fill-available;
    background-color: transparent;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40px;
}

.btn-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.player-btn{
    background-color: transparent;
    color: white;
    border: none;
    outline:none;
    font-weight: 600;
    width: 5em;
    height: 1.5em;
    margin: 0 2em;
}

.progress {
    background: white;
    height: 5px;
}

.progres-filled{
    width: 1%;
    background: #ff6913;
    height: 100%;
}
